fastapi==0.136.3
uvicorn==0.48.0
pydantic==2.13.2
python-dotenv==1.1.1
email-validator==2.2.0
supabase==2.15.0
pypdf==5.6.0
python-multipart==0.0.20
PyJWT==2.10.1
cryptography==45.0.5

# --- AI & Vector DB Packages (Unpinned to prevent conflicts) ---
langchain
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-community
langchain-chroma
langgraph
chromadb
sentence-transformers